[Unit]
Description=AliDDNS
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/aliddns.sh
LogLevelMax=notice
SyslogLevel=warning
